#
# This build of Lmod can be installed into its own Git checkout.
# When installed, Lmod produces a directory and a symlink:
#     MAJ.MIN.PATCH/
#     lmod -> MAJ.MIN.PATCH/
# Because we install Lua as well, we create the additional directory
#     lua
# and we ignore it as well.
#
/lua/*
!/lua/meson.build
/lmod
# Exclude up to 2.2.3-digit MAJ.MIN.PATCH versions for lack of an
# extended-match pattern.
/[0-9].[0-9].[0-9]/
/[0-9].[0-9].[0-9][0-9]/
/[0-9].[0-9].[0-9][0-9][0-9]/
/[0-9].[0-9][0-9].[0-9]/
/[0-9].[0-9][0-9].[0-9][0-9]/
/[0-9].[0-9][0-9].[0-9][0-9][0-9]/
/[0-9][0-9].[0-9].[0-9]/
/[0-9][0-9].[0-9].[0-9][0-9]/
/[0-9][0-9].[0-9].[0-9][0-9][0-9]/
/[0-9][0-9].[0-9][0-9].[0-9]/
/[0-9][0-9].[0-9][0-9].[0-9][0-9]/
/[0-9][0-9].[0-9][0-9].[0-9][0-9][0-9]/
